node_modules/
dist/
.vite/
*.log
.env
.env.*
!.env.example
.vscode/
src-tauri/target/
src-tauri/.cargo/

backend/node_modules/

# bases de datos locales
*.db
backend/app.db
backend/*.db

# backups (si los tenés)
backups/